@model Citizen
<html>


<body>

    <section class="text-center">
        <!-- Background image -->
        <div class="p-5 bg-image border-5" style=" background-image: url('https://www.zva.gov.lv/sites/default/files/styles/header_carousel_slide/public/carousel/www_augsa2_2_2.jpg?itok=L66IiJAH'); height: 280px; background-size: 100% 100% "></div>
        <!-- Background image -->

        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
            <div class="card-body py-1 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <br />
                        <h2 class="fw-bold mb-5">Εγγραφή Πολίτη</h2>
                        <form method="post" action="CitizenSignUp">


                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" class="form-control" asp-for="Name" required onkeypress="CheckSpace(event)" />
                                        <label class="form-label h6" asp-for="Name">Όνομα* </label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="form3Example2" class="form-control" asp-for="Surname" required onkeypress="CheckSpace(event)" />
                                        <label class="form-label h6" for="form3Example2" asp-for="Surname">Επώνυμο*</label>
                                    </div>
                                </div>
                            </div>


                            <div class="form-outline mb-4">
                                <input type="text" pattern="[0-9]+" id="form3Example3" class="form-control" asp-for="AMKA"  maxlength="11" required onkeypress="CheckSpace(event)" />
                                <label class="form-label h6" for="form3Example3" asp-for="AMKA" >ΑΜΚΑ*</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" pattern="[0-9]+" id="form3Example4" class="form-control" asp-for="ContactNumber"   maxlength="10" onkeypress="CheckSpace(event)" />
                                <label class="form-label h6" for="form3Example4" asp-for="ContactNumber" >Τηλέφωνο</label>
                            </div>


                            <div class="form-outline mb-4">
                                <div>
                                    @Html.DropDownListFor(t => t.Township,
                           new SelectList(Enum.GetNames(typeof(Townships))),
                           "Επιλογή Δήμου",
                           new { @required = "required" })
                                </div>

                                <label class="form-label h6" for="form3Example4" asp-for="Township">Δήμος Κατοικίας*</label>
                            </div>




                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example4" class="form-control" asp-for="username" required onkeypress="CheckSpace(event)" />
                                <label class="form-label h6" for="form3Example4" asp-for="username">Όνομα Χρήστη*</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="form3Example4" class="form-control" asp-for="password" required onkeypress="CheckSpace(event)" />
                                <label class="form-label h6" for="form3Example4" asp-for="password">Κωδικός Πρόσβασης*</label>
                            </div>

                            <div class=" form-outline mb-4 col-xl-10 offset-3  text-left">
                                <div asp-validation-summary="All" class=" text-danger" ></div>

                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Εγγραφή
                            </button>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>

<script>
    function CheckSpace(event) {
        if (event.which == 32) {
            event.preventDefault();
            return false;
        }
    }

</script>