<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MyResume Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#p1" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About Δημήτρης</span></a></li>
                <li><a href="#p2" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About Χρήστος</span></a></li>
                <li><a href="#p3" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About Θάνος</span></a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </header>


    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Εργασία Τεχνολογίας Λογισμικού</h1>
            <p>Είμαστε Φοιτητές του <span class="typed" data-typed-items="Πανεπιστημίου Πειραιώς"></span></p>
            <div class="social-links">
                <a href="https://www.instagram.com/mitsos.png/" class="instagram"><i class="bx bxl-instagram"> mitsos.png</i></a>
                <a href="https://www.instagram.com/xristos_avgerinos/" class="instagram"><i class="bx bxl-instagram"> xristos_avgerinos</i></a>
                <a href="https://www.instagram.com/thanosvitakis/" class="instagram"><i class="bx bxl-instagram"> thanosvitakis</i></a>

            </div>
        </div>
    </section>

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="p1" class="facts">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About</h2>
                </div>

                <div class="row">
                    <div class="col-lg-3 px-0">
                        <img src="/assets/img/mitsos.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content">
                        <h3>Δημήτρης Παναγιωτόπουλος</h3>
                        <br />
                        <div class="row  ">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Ημερομηνία Γέννησης:</strong> <span>24 Ιουλίου 2001</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Github:</strong> <a href="https://github.com/MitsosPng" class="instagram"><i class="bx bxl-github"></i></a></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Τηλέφωνο:</strong> <span>+30 6977593962</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Πόλη:</strong> <span>Αθήνα, Ελλάδα</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Ηλικία:</strong> <span>21</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Βαθμος:</strong> <span>Προπτυχιακός Φοιτητής</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a href="mailto:dmos.png@gmail.com">dmos.png@gmail.com</a></span></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Facts Section ======= -->
        <section id="p2" class="facts">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About</h2>
                </div>

                <div class="row">
                    <div class="col-lg-3 px-0">
                        <img src="/assets/img/xristos.jpg" class="img-fluid " alt="">
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content">
                        <h3>Χρήστος Αυγερινός</h3>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Ημερομηνία Γέννησης:</strong> <span>28 Απριλίου 2001</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Github:</strong> <a href="https://github.com/xristos-avgerinos" class="instagram"><i class="bx bxl-github"></i></a></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Τηλέφωνο:</strong> <span>+30 6981762341</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Πόλη:</strong> <span>Σαλαμίνα, Ελλάδα</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Ηλικία:</strong> <span>21</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Βαθμος:</strong> <span>Προπτυχιακός Φοιτητής</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a href="mailto:xristoskitharistas@gmail.com">xristoskitharistas@gmail.com</a></span></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section id="p3" class="skills section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About</h2>
                </div>

                <div class="row">
                    <div class="col-lg-3 px-0">
                        <img src="/assets/img/nassos.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content">
                        <h3>Θάνος Βιτάκης</h3>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Ημερομηνία Γέννησης:</strong> <span>17 Δεκεμβρίου 2001</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Github:</strong> <a href="https://github.com/Nassosvit" class="instagram"><i class="bx bxl-github"></i></a></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Τηλέφωνο:</strong> <span>+30 6944440954</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Πόλη:</strong> <span>Πάτρα, Ελλάδα</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Ηλικία:</strong> <span>20</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Βαθμος:</strong> <span>Προπτυχιακός Φοιτητής</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a href="mailto:Nassos1944@hotmail.com">Nassos1944@hotmail.com</a> </span></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

     
        <section>
            <br />
            <div class="text-center ">
                <h5 style="font-family:Raleway;color: #45505b;">Αυτή η εργασία αποτελεί έργο των παραπάνω φοιτητών για το μάθημα της Τεχνολογίας Λογισμικού για το έτος 2021-2022</h5>
            </div>
        </section>




    </main>




    <!-- Vendor JS Files -->

    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>

    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <script src="/assets/vendor/typed.js/typed.min.js"></script>



    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>