<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/home/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top" >

    <!-- Page Wrapper -->
    <div id="wrapper" >





        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background-color:white;">

            <!-- Main Content -->
            <div id="content" style="background-color:white;">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center  justify-content-between mb-1">
                        <h1 class="h2 mb-10 text-gray-800 offset-2">
                            Εμβολιασμός κατά της COVID-19
                        </h1>
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 14rem;"
                             src="~/img/emvoliasmos-logo.svg" alt="...">
                    </div>
                    
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-m font-weight-bold text-primary  mb-2">
                                                Εμβολιασμοί που έχουν πραγματοποιηθεί:
                                            </div>
                                            <br />
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">20.996.111</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-1">
                                            <div class="text-m font-weight-bold text-success mb-2">
                                                Eμβολιασμοί με τουλάχιστον 1 δόση που έχουν πραγματοποιηθεί:
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">7.914.689</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-m font-weight-bold text-info mb-2">
                                                Ολοκληρωμένοι εμβολιασμοί που έχουν πραγματοποιηθεί:
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">7.623.600</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-m font-weight-bold text-warning mb-2">
                                                Ποσοστό Ολοκληρωμένων Εμβολιασμών:
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">68%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-warning" role="progressbar"
                                                             style="width: 68%" aria-valuenow="68" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">

                                <!-- Card Header -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Εμβολιασμοί 2021</h6>
                                </div>

                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Pie Chart -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Ποσοστά Δόσεων</h6>
                                </div>

                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Πρώτη Δόση
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Δεύτερη Δόση
                                        </span>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Εμβολιασμοί ανά Περιφερειακή Ενότητα</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">
                                        ΚΕΝΤΡΙΚΟΥ ΤΟΜΕΑ ΑΘΗΝΩΝ<span class="float-right">31%</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 31%"
                                             aria-valuenow="31" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">
                                        ΘΕΣΣΑΛΟΝΙΚΗΣ <span class="float-right">25%</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">
                                        ΠΕΙΡΑΙΩΣ <span class="float-right">7%</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width: 7%"
                                             aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">
                                        ΑΧΑΪΑΣ <span class="float-right">6%</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 6%"
                                             aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">
                                        ΚΟΡΙΝΘΙΑΣ <span class="float-right">3%</span>
                                    </h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 3%"
                                             aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>

                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        Οδηγίες για την ημέρα του προγραμματισμένου ραντεβού
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Την ημέρα του προγραμματισμένου ραντεβού, ο πολίτης μεριμνά για την έγκαιρη προσέλευσή του στο Εμβολιαστικό Κέντρο (τουλάχιστον 15’ πριν από την ώρα του ραντεβού), με στόχο να διευκολυνθεί η ομαλή ροή της διαδικασίας εμβολιασμού και να αποφευχθούν τυχόν καθυστερήσεις.
                                    </p>

                                    <p>
                                        Σημειώνεται ότι, την ημέρα του ραντεβού, ο πολίτης οφείλει:
                                    </p>

                                    <ul>
                                        <li> Να φέρει την Αστυνομική Ταυτότητα ή Διαβατήριο ή άλλο επίσημο έγγραφο, προκειμένου να πραγματοποιηθεί ταυτοποίηση των στοιχείων του.</li>
                                        <li>Να γνωρίζει τον Αριθμό Δελτίου Ταυτότητας (ΑΔΤ), τον Αριθμό Μητρώου Κοινωνικής Ασφάλισης (ΑΜΚΑ) ή τον Αριθμό Φορολογικού Μητρώου (ΑΦΜ), προκειμένου να πραγματοποιηθεί η αναζήτηση του ραντεβού του.</li>
                                        <li>Επιπλέον, να φέρει τον κωδικό QR, όπως δημιουργήθηκε κατά τον προγραμματισμό του ραντεβού, σε έντυπη ή ηλεκτρονική μορφή (γραπτό μήνυμα SMS ή e-mail).</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Εθνική Εκστρατεία Εμβολιασμού</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                             src="~/img/welcome-intro-logo.png" alt="...">
                                    </div>
                                    <p style="text-align:justify;">

                                        Η Εθνική Εκστρατεία Εμβολιασμού για την COVID-19 ξεκίνησε. Το εμβόλιο είναι στα χέρια μας. Εγκεκριμένο για την ασφάλεια, την ποιότητα και την αποτελεσματικότητά του από τους αρμόδιους διεθνείς και εθνικούς οργανισμούς, τον Παγκόσμιο Οργανισμό Υγείας, τον EMA (European Medicines Agency) και τον FDA (US Food and Drug Administration).

                                        Ο εμβολιασμός είναι δωρεάν για όλους και είναι σε εξέλιξη για τις ηλικίες 5 ετών και άνω.

                                        Το εμβόλιο είναι προαιρετικό, αλλά απαραίτητο για να προστατεύσουμε τον εαυτό μας και τους συνανθρώπους μας.
                                    </p>
                                   
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-4">


                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Συχνές Ερωτήσεις</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                             src="~/img/box-faq.png" alt="...">
                                    </div>
                                    <p style="text-align: center;">
                                        Απαντήσεις σε ερωτήσεις για τα εμβόλια και τον εμβολιασμό κατά της
                                        Covid-19
                                    </p>
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-primary " style="background-color: #003476 " onclick="window.location.href='https://emvolio.gov.gr/syxnes-erotiseis'">
                                            Περισσότερα
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-4">


                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        Διαδικασία Εμβολιασμού
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                             src="~/img/box-diadikasia.png" alt="...">
                                    </div>
                                    <p style="text-align:center">

                                        Εθνικό Επιχειρησιακό Σχέδιο Εμβολιασμών - Επιχείρηση «Ελευθερία»
                                    </p>
                                    <br />
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-primary " style="background-color: #003476 " onclick="window.location.href='https://emvolio.gov.gr/diadikasia-emvoliasmou'">
                                            Περισσότερα
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-4">


                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        Γενικές Πληροφορίες
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                             src="~/img/box-info.png" alt="...">
                                    </div>
                                    <p style="text-align:center">

                                        Ενημέρωση σχετικά με το εμβόλιο ενάντια στον κορωνοϊό Covid-19
                                    </p>
                                    <br />
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-primary " style="background-color: #003476 " onclick="window.location.href='https://emvolio.gov.gr/plirofories'">
                                            Περισσότερα
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <br/><br /><br />


    <!-- Bootstrap core JavaScript-->
    <script src="~/js/home/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




    <!-- Page level plugins -->
    <script src="~/js/home/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/home/chart-area-demo.js"></script>
    <script src="~/js/home/chart-pie-demo.js"></script>







</body>

</html>
